@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PPNeue Montreal";
    src: url(./lib/assets/fonts/GT-Flexa-X-Compressed-Bold-Trial.otf) format("opentype");
}

@font-face {
    font-family: "PPEditorial New";
    src: url(./lib/assets/fonts/GT-Planar-Regular-Trial.otf) format("opentype");
}

@font-face {
    font-family: "TripSans";
    src: url(./lib/assets/fonts/TripSans-Ultra.ttf) format("truetype");
}

@font-face {
    font-family: "canopee";
    src: url(./lib/assets/fonts/Canopee_Regular.otf) format("opentype");
}

@font-face {
    font-family: "PPEditorial";
    src: url(./lib/assets/fonts/PPEditorialNew-Regular.otf) format("opentype");
}

.brand-font {
    font-family: "PPNeue Montreal";
}

.regular-font {
    font-family: "PPEditorial New";
}

body {
    background-color: #1c1c1a;
}