@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

@font-face {
    font-family: "PPNeue Montreal";
    src: url(./lib/assets/fonts/GT-Flexa-X-Compressed-Bold-Trial.otf) format("opentype");
}

@font-face {
    font-family: "PPEditorial New";
    src: url(./lib/assets/fonts/GT-Planar-Regular-Trial.otf) format("opentype");
}

@font-face {
    font-family: "TripSans";
    src: url(./lib/assets/fonts/TripSans-Ultra.ttf) format("truetype");
}

@font-face {
    font-family: "canopee";
    src: url(./lib/assets/fonts/Canopee_Regular.otf) format("opentype");
}

@font-face {
    font-family: "PPEditorial";
    src: url(./lib/assets/fonts/PPEditorialNew-Regular.otf) format("opentype");
}

.another-font {
    font-family: "canopee";
}

.brand-font {
    font-family: "PPNeue Montreal";
}

.regular-font {
    font-family: "PPEditorial New";
}

body {
    background-color: #1c1c1a;
}

 .content {
     position: relative;
 }

.content p:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #F5FFFA;
}

.content p:nth-child(2) {
    color: #F5FFFA;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
                0% 65%, /* Moved up */ 16% 60%, /* Moved up */ 33% 70%, /* Moved down */ 54% 65%, /* Moved up */ 70% 75%, /* Moved down */ 84% 62%, /* Moved up */ 100% 70%, /* Moved down */ 100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 75%, /* Moved down */ 15% 80%, /* Moved down */ 34% 70%, /* Moved up */ 51% 75%, /* Moved down */ 67% 65%, /* Moved up */ 84% 78%, /* Moved down */ 100% 70%, /* Moved up */ 100% 100%,
                0% 100%
        );
    }
}